# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Session (troque em produção)
SESSION_SECRET=troque-por-uma-string-longa-e-aleatoria

# E-mail real (quando plugar Resend)
# RESEND_API_KEY=
# EMAIL_FROM=Meu Rim <consultas@seu-dominio.com.br>

# Pagamentos (Mercado Pago Split ou Stripe Connect)
# MERCADOPAGO_ACCESS_TOKEN=
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=

# Banco (quando sair do data/db.json)
# DATABASE_URL=
